* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  color: #d6cdbf;
  background-color: #5e2e27;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: #d6cdbf;
  padding-left: 1.2rem;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: #d4c99a;
}

.splashimage {
  background-color: white;
  background-image: url(https://dannorris.me/wp-content/uploads/2016/08/empathy-feature-1.jpg);
  width: 100%;
  height: 50vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1title {
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  color: #d6cdbf;
  text-shadow:1px 1px 5px black;
}

body {
  margin: 48px auto;
  width: 100%;
  min-width: 0;
}

.articletext {
  column-count: 2;
  column-gap: 70px;
  text-align: left;
  padding: 0 2vw; 
}

p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px; 
  padding: 0;   
}

h1 {
  font-family: Montserrat, serif;
  font-weight: 700;
  margin-bottom: 6px;
}

h2 {
  font-style: italic;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 75px;
  font-weight: 600;
}

h3{
  color: #d4c99a;
  font-style: italic;
  font-size: 25px;
  margin-bottom: 5 px;
  font-weight: 600;
}

footer {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #2e1815;
  color: white;
  margin-top: 90px;
  padding-top: 50px;
}

footer a {
  width: 200%;
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 30px;
}

footer a:hover {
  color: #0b2934;
}

.footer-stuff {
  width: 100%;
  padding: 0 2vw; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-content {
  font-size: 20px;
  width: 450px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}

.copyright {
  position: absolute;
  right: 2vw;      
  bottom: 20px;     
  text-align: right;
  color: #d6cebf;
  font-size: 1rem;
  display: block; 
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;   
    line-height: 24px;
    color: #d6cdbf;
    background-color: #5e2e27;
  }

  body {
    width: 100%;
    margin: 24px auto;
    min-width: 0;
  }

  nav {
    height: auto;
    padding: 15px 20px;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 15px;
  }

  nav a {
    font-size: 0.9rem;
    padding: 0;
  }

  .splashimage {
    height: 60vw;
  }

  .h1title {
    font-size: 8vw;   
    padding: 0 10px;
  }

  .articletext {
    column-count: 2;          
    column-gap: 20px;
    padding: 0 5vw;          
    text-align: left;
  }

  p {
    font-size: 15px;
    line-height: 26px;
  }

  h2 {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 25px;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .footer-stuff {
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding: 0 5vw;
  }

  .footer-content {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  .copyright {
    right: 5vw;
    bottom: 20px;
    font-size: 0.85rem;
  }
}
