* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  color: #d6cdbf;
  background-color: #5e2e27;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: #d6cdbf;
  padding-left: 1.2rem;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: #d4c99a;
}

.splashimage {
  background-color: white;
  background-image: url(https://dannorris.me/wp-content/uploads/2016/08/empathy-feature-1.jpg);
  width: 100%;
  height: 50vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1title {
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  color: #d6cdbf;
  text-shadow:1px 1px 5px black;
}

body {
  width: 80vw;
  min-width: 1000px;
  margin: 48px auto;
}

.articletext{
  
  column-count: 2;
  column-gap: 70px;
  text-align: left;
}

p{
  font-size: 18px;
  line-height: 36px;
  padding-bottom: 12px;
}

h1{
    font-family: Montserrat, serif;
    font-weight: 700;
    margin-bottom: 6px;
}

h2 {
  font-style: italic;
  font-size: 50px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  font-weight: 700;
}

h3{
  color: #d4c99a;
  font-style: italic;
  font-size: 27px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 250px;
  justify-content: space-between;
  align-items: center;
  background-color: #2e1815;
  color: white;
  margin-top: 90px;
  padding-top: 50px;

}

footer a {
  width: 200%;
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 30px;
}

footer a:hover {
  color: #0b2934;
}

.footer-stuff {
  width: 65vw;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-content {
  width: 450px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}

.copyright {
  font-size: 1rem;
  text-align: center;
  color: #d6cebf;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
    color: #d6cdbf;
    background-color: #5e2e27;
    text-align: center;
    line-height: 24px; 
  }
  body {
    width: 75%;
    min-width: 200px;
  }
  .text {
    column-count: 1;
  }
}

