* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: #262626;
  background-color: #F2F2F2;
}

body {
  /*width: 1300px;*/
  width: 80vw;
  min-width: 1000px;
  margin: 48px auto;
}

.articletext{
  column-count: 3;
  column-gap: 48px;
  text-align: justify;
}

p{
  line-height: 36px;
  padding-bottom: 12px;
}

h1{
    font-family: palatino, serif;
    font-weight: 700;
    margin-bottom: 6px;
}

h2 {
  font-style: italic;
  font-size: 19px;
  margin-bottom: 48px;
  font-weight: 400;
}

h3{
  font-style: italic;
  font-size: 19px;
  margin-bottom: 48px;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
    color: #dddddd;
    background-color: #000000;
    text-align: center;
  }
  body {
    width: 75vw;
    min-width: 200px;
  }
  .text {
    column-count: 1;
  }
}

footer {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  margin-top: 90px;
  padding-top: 100px;

}

footer a {
  width: 200%;
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 30px;
}

footer a:hover {
  color: #56C489;
}

.footer-stuff {
  width: 65vw;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-content {
  width: 450px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}

.copyright {
  font-size: 1rem;
  text-align: center;
  color: #56C489;
}


